// Add additional styles here. For example, overwrite certain styles or add new components.
// Tip: You can use bootstrap's powerful mixins here!


//.alert-myalert {
//  @include alert-variant(#60667d, #1d1d1d, #f4fdff);
//}

//@each $color, $value in $theme-colors {
//  .alert-#{$color} {
//    box-shadow: 3px 3px theme-color-level($color, -3);
//  }
//}
.text-responsive {
  font-size: calc(25% + 1vw + 1vh);
}

#loading-spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 12%;
        max-width: 200px;
        height: 200px;
    }

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:target {
    background-color: $info;
    border-color: $primary;
}

.custom-select:hover {
    cursor: pointer
}

//Card, Add to Cart button hover animation//
#addtocart:hover,
.card:hover{
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
 box-shadow: 0 20px 30px rgba(0,0,0,.12), 0 8px 16px rgba(0,0,0,.06);
 cursor: pointer;
}

//Shopping cart button //
#cart {
    width: 40px;
    height: 35px;
    &:hover {
        filter: invert(45%) sepia(96%) saturate(3183%) hue-rotate(235deg) brightness(96%) contrast(109%);
    }
}
.price-badge {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: small;
    border: none;
}
.img-modifier {
    position: relative;
    border-radius: 9px;
    max-height: 160px;
    max-width: 270px;
}
.card {
    max-width: 270px;
}


// Footer //
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}